<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://maycur.com/mobile/plugins/1.0"
        id="maycur-plugin-image-viewer" version="0.1.0">
    <name>ImageViewer</name>
    <description>Maycur Image Viewer Plugin for iOS</description>
    <license>Maycur</license>
    <keywords>maycur,device</keywords>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImageViewer">
                <param name="ios-package" value="MCImageViewer"/>
            </feature>
        </config-file>
        <js-module src="www/ios/ImageViewer.js" name="ImageViewer">
            <clobbers target="imageViewer" />
        </js-module>

        <header-file src="src/ios/MCImageViewer.h" />
        <source-file src="src/ios/MCImageViewer.m" />
    </platform>
</plugin>